<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">Home</a>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" th:href="@{/}">Save</a>
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#search-modal">Search</button>
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#export-modal">Export</button>
        </div>
    </div>
</nav>

